<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div>
    <h1>{{pozdravnaPoruka}}</h1>
    <ul>
        <li ng-repeat="proizvod in oProizvodi">
            {{proizvod.name}}<i ng-click="dodaj(this)" style="margin-left: 5px;" class="fa fa-plus"></i>
            </li>
        </ul>
        <ul>
            <li ng-repeat="noviProizvodi in nLista">
                {{noviProizvodi.name}}<br>
                <label>Kolicina</label><input id="{{noviProizvodi.id}}" value="{{noviProizvodi.dostupna_kolicina}}" min="0" max="{{noviProizvodi.dostupna_kolicina}}" type="number"><br>
                <label>Cijena</label><input value="{{Izracunaj(this)}}" style="width: 150px;height: 20px; border: 1px solid black;"/><br>
                <button type="button" ng-click="Izracunaj(this)" class="btn btn-primary">Izračunaj</button>
                </li>
            </ul>
   </div>
